/*=============================================================================================================*\
  * Project Name:   Ruth Waiganjo
  * Project URI:    https://RuthNjeri.github.io
  * Description:    Personal Website
  * Author:         Ruth Njeri (@njeriwaiganjo)
  * Author URI      https://github.com/RuthNjeri
\*=============================================================================================================*/



/*=========================================*\
  THEME SETTINGS: Base Resets
\*=========================================*/


/* Generic Resets
*----------------------------------*/
* {

   /*Improves text render of -webkit browser*/
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba (0,0,0,0.1);

  /*Ensures that long strings do not display outside their container*/
   word-break: break-word;

  /*
    Ensures that elements deduct their padding and margin 
    declaration from the parent container thus not interfering with the set layout.
  */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
   box-sizing: border-box;

 }


/* Body Resets
*----------------------------------*/
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ffffff;
  color: #404040;
  font-size: 1em;
  line-height: 1.6;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

p,
ul {
  margin: 0;
  padding: 0;
}


/* Headings
*----------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3e4095;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}



/* Text selection
*----------------------------------*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/* Placeholder text
*----------------------------------*/
::-webkit-input-placeholder {
  color: #bcbcbc;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bcbcbc;
  text-align: center;
}
:-ms-input-placeholder {
  color: #bcbcbc;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bcbcbc;
  text-align: center;
}


